/* Home.css */
.carousel-caption-left {
    font-family:'Inknut Antiqua';
    position: absolute;
    top: 50%; 
    left: -20%; 
    transform: translateY(-50%); 
    text-align: left; 
    max-width: 40%; 
  }
  
  .carousel-caption-left h3 {
    font-size: 3rem; 
    font-weight: bold;
    color: #fff; 
  }
  
  .carousel-caption-left p {
    font-size: 1.25rem;
    color: #fff; 
  }
  
  
  .carousel-caption-left .btn {
    margin-top: 15px;
  }
  .readmore{
    background-color: #FF6100 !important ;
    font-size: 20px;
    font-weight: 400;
  }
  


  .read-more-btn {
    background: #FF6608;
    color: #fff;
    font-weight: bold;
  }
  
  .read-more-btn:hover {
    background: #FF4500; 
  }

  